<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.felord.mybatis.mapper.EmployeeMapper">
    <resultMap id="BaseMapper" type="cn.felord.mybatis.entity.Employee">
        <id column="employee_id" property="employeeId"/>
        <id column="name" property="name"/>
        <id column="job_number" property="jobNumber"/>
    </resultMap>
</mapper>